RewriteEngine On

RewriteRule ^user/view$ index.php?resource=user&method=view [L,QSA]
RewriteRule ^user/update$ index.php?resource=user&method=update [L,QSA]
RewriteRule ^session/create$ ?resource=session&method=create [L,QSA]
RewriteRule ^announce/update$ ?resource=announce&method=update [L,QSA]
RewriteRule ^announce/create$ ?resource=announce&method=create [L,QSA]
RewriteRule ^announce/delete$ ?resource=announce&method=delete [L,QSA]
RewriteRule ^solutionfile/([0-9]+)$ ?resource=solutionfile&id=$1&method=view [L,QSA]
RewriteRule ^solutionfile/s([0-9]+)/((.|/)*)$ ?resource=solutionfile&name=$2&solutionid=$1&method=view [L,QSA]
RewriteRule ^solution/listing$ ?resource=solution&method=listing [L,QSA]
RewriteRule ^solution/correctme$ ?resource=solution&method=view&correctme=yes [L,QSA]
RewriteRule ^solution/update$ ?resource=solution&method=update [L,QSA]
RewriteRule ^announce$ ?resource=announce&method=view [L,QSA]
RewriteRule ^login$ ?resource=session&method=view [L,QSA]
RewriteRule ^home$ index.php?resource=home&method=view [L,QSA]
